<div class="row">
  <div class="col-sm-12 offset-2">
    <h1>Nouveau post</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-7 offset-2">
    <form [formGroup]="postForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea formControlName="content" id="content" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>
